.button {
  font-family: inherit;
  @include fonts(700, 16px, 30px, 00.06em);
  // font-weight: 700;
  // font-size: 16px;
  // line-height: calc(30/16);
  // letter-spacing: 0.06em;

  color: var(--additional-txt-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  background-color: var(--active-link-txt);

  cursor: pointer;

  @include transition(background-color, box-shadow);

  &:hover,
  &:focus {
    background-color: var(--main-bt-act);
  }
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 24px;

  @media screen and (min-width: 1200px) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.register-form__submit {
  display: block;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--main-link-cl);
  border-radius: 50%;
  border: 1px solid var(--close-btn-border);
  cursor: pointer;
  outline: transparent;

  @include transition(color, border-color);

  &:hover,
  &:focus {
    color: var(--active-link-txt);
    border-color: var(--active-link-txt);
  }
}

.close-btn__icon {
  fill: currentColor;
}

.filter__button {
  padding: 6px 22px;

  font-family: inherit;
  @include fonts(500, 16px, 26px, 00.03em);
  // font-weight: 500;
  // font-size: 16px;
  // line-height: calc(26 / 16);
  // letter-spacing: 0.03em;

  color: var(--main-txt-cl);
  background-color: var(--secondary-bg-cl);

  border: transparent;
  border-radius: 4px;
  cursor: pointer;

  @include transition(background-color, box-shadow);

  &:hover,
  &:focus {
    outline: none;
    color: var(--additional-txt-cl);
    background-color: var(--active-link-txt);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
