.register-form__strong {
  display: block;
  @include fonts(700, 20px, 30px, 00.03em);

  @media screen and (min-width: 1200px) {
    @include fonts(700, 20px, 23px, 00.03em);
  }

  text-align: center;
  // font-size: 20px;
  // line-height: calc(23/20);
  // letter-spacing: 0.03em;
  width: 100%;

  margin-bottom: 12px;
}

.register-form__group {
  margin-bottom: 20px;
}

.register-form__field {
  position: relative;
  display: block;

  @include fonts($fs: 12px, $lh: 14px, $ls: 00.01em);
  // font-size: 12px;
  // line-height: calc(14/12);
  // letter-spacing: 0.01em;
  color: var(--secondary-txt-cl);

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.register-form__input {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  padding-right: 42px;
  border: 1px solid var(--modal-border-cl);
  outline: none;
  border-radius: 4px;

  @include transition(border-color);

  &:focus,
  &:not(:placeholder-shown) {
    border-color: var(--active-link-txt);
    ~ .register-form__icon {
      fill: var(--active-link-txt);
    }
  }
}

.register-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: var(--main-txt-cl);

  @include transition(fill);
}

.register-form__comment {
  display: block;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  outline: transparent;

  @include fonts($fs: 12px, $lh: 14px, $ls: 00.01em);

  border: 1px solid var(--modal-border-cl);
  border-radius: 4px;

  &:focus,
  &:not(:placeholder-shown) {
    border-color: var(--active-link-txt);
    outline: none;
  }
}

.register-form__icon-checked {
  opacity: 0;
  @include transition(opacity);
}

.register-form__checkbox:checked + .register-form__icons .register-form__icon-checked {
  opacity: 1;
}

.register-form__icon-unchecked {
  @include transition(opacity);
}

.register-form__checkbox:focus + .register-form__icons {
  outline: 2px solid var(--main-link-cl);
  outline-offset: 1px;
  border-radius: 1px;
  .register-form__icon-unchecked {
    opacity: 0;
  }
}

.register-form__checkbox:checked + .register-form__icons .register-form__icon-unchecked {
  opacity: 0;
}

.register-form__agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  gap: 8px;
  width: 100%;

  color: var(--secondary-txt-cl);
}

.register-form__desc {
  @include fonts($fs: 12px, $lh: 14px, $ls: 0.03em);

  @media screen and (min-width: 1200px) {
    @include fonts($fs: 14px, $lh: 14px, $ls: 0.03em);
  }
  user-select: none;
}

.register-form__link {
  color: var(--active-link-txt);
}
