/**
  |============================
  | Clients
  |============================
*/
.client-grid__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;
  border: 1px solid var(--icons-cl);
  border-radius: 4px;

   @include transition (border);

  &:hover,
  &:focus {
    border: 1px solid var(--active-link-txt);
    .client-grid__icon {
      fill: var(--active-link-txt);
    }
  }
}

.client-grid__icon {
  fill: var(--icons-cl);

 @include transition (fill);
}
