/**
  |============================
  | Footer
  |============================
*/
.footer {
  background-color: var(--hero-bg-cl);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer__wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 165px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: auto;
    gap: 70px;
  }
}

.footer-nav {
  @media screen and (max-width: 767px) {
    text-align: center;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.address-list {
  display: block;
}

.address-list__address {
  display: block;
  margin-bottom: 10px;

  @include fonts();
  font-style: normal;
  // line-height: calc(24 / 14);
  text-decoration: none;

  color: var(--additional-txt-cl);

  @include transition(color);

  &:hover,
  &:focus {
    color: var(--active-link-txt);
  }
}

.address-list__link {
  display: block;

  font-style: normal;
  @include fonts();
  text-decoration: none;

  color: var(--address-link-cl);

  @include transition(color);

  &:hover,
  &:focus {
    color: var(--active-link-txt);
  }
}

.address-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__strong {
  display: block;
  text-transform: uppercase;
  margin-bottom: 20px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @include fonts($fw: 700, $lh: 16px, $ls: 00.03em);
  // font-size: 14px;
  // line-height: calc(16 / 14);
  // letter-spacing: 0.03em;

  color: var(--additional-txt-cl);
}

.footer-socials {
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-right: auto;
  }
}

.footer-input {
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.subscription-box {
  display: block;

  width: 100%;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: center;
  }
}

.subscribtion-box__field {
  display: block;
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.subscription-box__input {
  display: block;
  min-height: 50px;
  width: 100%;

  padding: 15px 16px;
  background-color: inherit;
  color: var(--additional-txt-cl);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  @include transition(border-color);

  &:focus {
    border-color: var(--active-link-txt);
    outline: none;
  }

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.subscribe-btn {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 28px;

  @media screen and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.subscribe-btn__icon {
  fill: var(--additional-txt-cl);
}
