/**
  |============================
  | Specifications
  |============================
*/

.section{
@include section ();
}



.specifications__item {
  
  max-width: 450px;
  &:not(:last-child){
    margin-bottom: 30px;
  }

   @media screen and (min-width: 768px) {
  width: 354px;
  margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
  width: 270px;
      --items: 4;
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  }
}

.specifications__icon {

  display: flex;
  justify-content: center;
  align-items: center;    
  margin-bottom: 30px;
  height: 120px;
  

  background-color: var(--secondary-bg-cl);
  border-radius: 4px;
  
}

.specifications__subtitle {
  margin-bottom: 10px;
  @include fonts ($fw: 700, $lh: 16px, $ls: 00.03em);
//   font-size: 14px;
//   letter-spacing: 0.03em;
//   line-height: calc(16 / 14);

  @media screen and (max-width: 767px) {
    text-align: center;
  }

}

.specifications__text{
    @include fonts ();
//  font-size: 14px;
//  line-height: calc(24 / 14);
//  letter-spacing: 0.03em;

 color: var(--secondary-txt-cl);}